{% extends "base.html" %}

{% block content %}
<h3 style="color: #333; font-family: 'Arial', sans-serif;">PROMO LIST</h3>
<br/>
<ol>
    {% for photo in photos %}
        <li>
            <a href="{% url 'photo_detail' photo.pk %}" style="text-decoration: none; color: #333;">{{ photo.title }}</a>
            <a href="{% url 'photo_view' photo.pk %}" style="margin-left: 10px; text-decoration: none; background-color: #FE828C; color: #fff; padding: 15px 20px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#673147'; this.style.color='#fff';" onmouseout="this.style.backgroundColor='#FE828C'; this.style.color='#ffffff';">View</a>
            <a href="{% url 'photo_update' photo.pk %}" style="margin-left: 10px; text-decoration: none; background-color: #673147; color: #fff; padding: 15px 20px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#FE828C'; this.style.color='#fff';" onmouseout="this.style.backgroundColor='#673147'; this.style.color='#ffffff';">Edit</a>
            <a href="{% url 'photo_delete' photo.pk %}" style="margin-left: 10px; text-decoration: none; background-color: #DC143C; color: #fff; padding: 15px 20px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#FE828C'; this.style.color='#fff';" onmouseout="this.style.backgroundColor='#DC143C'; this.style.color='#ffffff';">Delete</a>
            {% comment %} <button style="background-color: #3498db; color: #ffffff; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 10px; cursor: pointer; border-radius: 5px;" onmouseover="this.style.backgroundColor='#673147'; this.style.color='#f1c40f';" onmouseout="this.style.backgroundColor='#FE828C'; this.style.color='#ffffff';">Hover Me</button> {% endcomment %}
            <br/>
            <br/>
            <br/>
        </li>
    {% endfor %}
</ol>
<a href="{% url 'photo_create' %}" style="text-decoration: none; background-color: #673147; color: #fff; padding: 10px 20px; border-radius: 5px; display: inline-block; margin-top: 20px;" onmouseover="this.style.backgroundColor='#FE828C'; this.style.color='#fff';" onmouseout="this.style.backgroundColor='#673147'; this.style.color='#ffffff';">Upload a new photo</a>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://lottie.host/51aabd2a-ee20-48af-99af-70b2d98c65d1/JUynQmDWYy.json" background="##FFFFFF" speed="1" style="width: 300px; height: 300px" loop autoplay direction="1" mode="normal"></lottie-player>
{% endblock content %}