{% extends "base.html" %}

{% block content %}
<h3 style="color: #000000; font-family: 'Arial', sans-serif;">CONFIRM DELETION</h3>
<p style="font-size: 16px;" >Are you sure you want to delete "{{ photo.title }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" style="background-color: #DC143C; color: #fff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;" onmouseover="this.style.backgroundColor='#FE828C'; this.style.color='#fff';" onmouseout="this.style.backgroundColor='#DC143C'; this.style.color='#ffffff';">Delete</button>
</form>
<br/>
<br/>
<a href="{% url 'photo_list' %}" style="text-decoration: none; background-color: #673147; color: #fff; padding: 15px 20px; border-radius: 5px;" onmouseover="this.style.backgroundColor='#FE828C'; this.style.color='#fff';" onmouseout="this.style.backgroundColor='#673147'; this.style.color='#ffffff'; display: inline-block;">Cancel</a>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://lottie.host/51aabd2a-ee20-48af-99af-70b2d98c65d1/JUynQmDWYy.json" background="#FFFFFF" style="width: 300px; height: 300px;" loop autoplay direction="1" mode="normal"></lottie-player>
{% endblock content %}