<!-- send_email_to_all.html -->
{% extends "base.html" %}
{% block content %}
    <form method="post" action="{% url 'send_email_to_all' %}" style="max-width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        {% csrf_token %}
        
        <label for="subject" style="display: block; margin-bottom: 8px; font-weight: bold;">Subject:</label>
        <input type="text" name="subject" required style="width: 100%; padding: 8px; box-sizing: border-box; margin-bottom: 16px; border: 1px solid #ccc; border-radius: 4px;">
        
        <label for="message" style="display: block; margin-bottom: 8px; font-weight: bold;">Message:</label>
        <textarea name="message" rows="4" cols="50" required style="width: 100%; padding: 8px; box-sizing: border-box; margin-bottom: 16px; border: 1px solid #ccc; border-radius: 4px;"></textarea>
        
        <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 15px; border: none; border-radius: 4px; cursor: pointer;">Send Email to All Records</button>
    </form>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://lottie.host/51aabd2a-ee20-48af-99af-70b2d98c65d1/JUynQmDWYy.json" background="##FFFFFF" speed="1" style="width: 300px; height: 300px" loop autoplay direction="1" mode="normal"></lottie-player>
{% endblock content %}